<link rel="stylesheet" href="/css/footer.css" />
<footer>
    <% if(locals.user){ %> 
    <span><a href="/">Home</a> | <a href="/users/profile/<%=locals.user.id%> ">Profile</a></span>
    <% } %> 
    <span>© SocialX. All rights reserved.</span>
</footer>
